@model List<MarketAnalystBot.Domain.Entities.OpportunitySignal>

@{
    ViewData["Title"] = "Sinais de Oportunidade";
}

<div class="container mt-4">
    <h1 class="mb-3">Sinais de oportunidade</h1>

    @if (Model == null || !Model.Any())
    {
        <div class="alert alert-info">
            Nenhum sinal encontrado.
        </div>
    }
    else
    {
        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-light">
                <tr>
                    <th>Ticker</th>
                    <th>Tipo</th>
                    <th>Preço Atual</th>
                    <th>RSI</th>
                    <th>Signal RSI</th>
                    <th>Data</th>
                    <th>Motivo</th>
                    <th>Saída</th>
                    <th>Preço Saída</th>
                    <th>Rsi</th>
                    <th>Rsi Signal</th>
                    <th>%</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Ticker</td>
                        <td>@item.Type</td>
                        <td>@item.LastPrice.ToString("N2")</td>
                        <td>@item.LastRsi.ToString("N2")</td>
                        <td>@item.LastRsiSignal.ToString("N2")</td>
                        <td>@item.Date.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@item.Reason</td>
                        <td>@item.ExitSignal.Date.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@item.ExitSignal.LastPrice.ToString("N2")</td>
                        <td>@item.ExitSignal.LastRsi.ToString("N2")</td>
                        <td>@item.ExitSignal.LastRsiSignal.ToString("N2")</td>
                        <td>@((((item.ExitSignal.LastPrice - item.LastPrice) / item.LastPrice) * 100).ToString("N2"))</td>

                    </tr>
                }
            </tbody>
        </table>
    }
</div>
